<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css">

    <title>{% block title %}SDPH - Sistema de Detecção de Pragas em Hortas com IA{% endblock %}</title>
  </head>

  <body>
    <h1>Bem vindo ao SDPH</h1>
    <p>Sistema de Detecção de Pragas em Hortas com IA</p>

    {% block content %}
    {% endblock %}

    <script src="../static/js/imageRender.js"></script>
    <script src="../static/js/scripts.js"></script>
  </body>
</html>
