{% extends "base.html" %} 

{% block content %}
  <p>
    para começar, insira carrega uma imagem de sua muda ou horta<br />clique no
    botão abaixo.
  </p>

  <form action="/upload" method="post" enctype="multipart/form-data">
    <input
      type="file"
      name="file"
      id="inputImage"
      accept="image/*"
      max="5242880"
    />
    <input type="submit" value="Enviar Imagem" />
  </form>

  <div id="viewImage" class="imageView"></div>

  <script src="../static/js/imageRender.js"></script>
{% endblock %}
