{% extends "base.html" %} 

{% block content %} 

    {% if error_invalid_file %}
        <p class="error-message">Error: {{ error_invalid_file }}</p>
    {% endif %}
    
    {% if success_message %}
        <p>{{ success_message }}</p>
    {% endif %}

    <button type="button" id="returnBtn">Voltar</button>

    <div id="processedImageView" class="imageView">
        {% if processed_image_filename %}
            <img class="uploaded-image" src="{{ url_for('static', filename='upimages/' + processed_image_filename) }}" alt="Processed Image" />
        {% else %}
            <p>No processed image available.</p>
        {% endif %}
    </div>
{% endblock %}
